#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.card {
}

.read-the-docs {
  color: #888;
}

table {
  border: 0;
  border-collapse: collapse;
}

table button {
  width: 64px;
  height: 64px;
  border: 1px solid #888;
  color: white;
}

@media (prefers-color-scheme: light) {
  table button {
    color: #222;
  }
  
}

table img {
  width: 64px;
  height: 64px;
}

@media (max-width: 400px) {
  table button {
    width: 42px;
    height: 42px;
    padding: 8px;
  }

  table img {
    width: 42px;
    height: 42px;
  }
}

button.reveal[data-correct="true"] {
  background-color: #20c0b0;
  color: white;
  font-weight: bold;
}

button.reveal[data-correct="false"] {
  background-color: #ff4d4d;
  color: white;
  font-weight: bold;
}

label {
  display: inline-block;
  margin-bottom: 16px;
}

h2 {
  margin-top: 0;
}

.subtle {
  color: #888;
  font-size: 0.85rem;
  margin-top: 32px;
}
